import /vendor/etc/init/hw/init.mtkgki.rc

# N6 NFC modify by zhangyize at 2023.7.12 start
import /vendor/etc/init/hw/android.hardware.nfc@1.2-service.rc
import /vendor/etc/init/hw/android.hardware.secure_element@1.2-service-mediatek.rc
# N6 NFC modify by zhangyize at 2023.7.12 end

# MTK project .rc configure

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data

#N6 code for HQ-309505 by p-sunyuting at 2023/07/20 start
    chown system system /dev/xiaomi-fp
    chmod 0644 /dev/xiaomi-fp
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param
    chmod 0644 /sys/class/mi_display/disp-DSI-0/disp_param
#N6 code for HQ-309505 by p-sunyuting at 2023/07/20 end

#N6 code for HQ-290558 by songguixin at 2023/08/02 start
#touch
    chown system system /sys/class/touch/touch_dev/palm_sensor
#N6 code for HQ-290558 by songguixin at 2023/08/02 end

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

# N6 code for HQ-308250 by HQ camera at 20230719 start
    mkdir /data/vendor/camera/ 0777 system camera
# N6 code for HQ-308250 by HQ camera at 20230719 end

# N6 code for HQ-314002 by HQ camera at 20230811 start
    chmod 777 /mnt/vendor/nvcfg/sensor
    chmod +r /mnt/vendor/nvcfg/sensor/gyro_cali.json
    chmod +r /mnt/vendor/nvcfg/sensor/gyro_bias.json
# N6 code for HQ-314002 by HQ camera at 20230811 end

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

# N6 code for HQ-308279 by p-wupeng9 at 2023/07/20 start
#dual calib
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chmod 0777 /data/vendor/camera/rear_dc_cal_wd.bin
    chmod 0777 /data/vendor/camera/rear_dc_cal_wu.bin
    restorecon /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    restorecon /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    mkdir /mnt/vendor/persist 0777 system camera
    mkdir /mnt/vendor/persist/camera 0777 system camera
    chmod 0777 /vendor/etc/camera/com.xiaomi.dcal.wd.golden
    chmod 0777 /vendor/etc/camera/com.xiaomi.dcal.wu.golden
    chmod 0777 /vendor/etc/camera/golden_ov13b10_i_ov2180_i.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_i_ov2180_ii.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_ii_ov2180_i.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_ii_ov2180_ii.bin
    chmod 0777 /data/vendor/camera/golden_rear_dc_cal_wt.bin
    chmod 0777 /data/vendor/camera/golden_s5k3l6_ii_ov2180_ii.bin
# N6 code for HQ-308279 by p-wupeng9 at 2023/07/20 end

# N6 code for HQ-309748 by wulei at 2023/08/14 start
#intsense bokeh use
    mkdir /data/vendor/camera 0777 system camera
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/dof_model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera
    mkdir /data/vendor/camera/dof_mecp 0777 system camera

    chown system system /data/vendor/camera/com.xiaomi.dcal.wd.data
    chown system system /data/vendor/camera/com.xiaomi.dcal.wu.data
    chmod 0777 /data/vendor/camera/com.xiaomi.dcal.wd.data
    chmod 0777 /data/vendor/camera/com.xiaomi.dcal.wu.data

    copy /vendor/etc/camera/model/dof_model/capture_model /data/vendor/camera/model/dof_model/capture_model
    copy /vendor/etc/camera/model/dof_model/capture_cache /data/vendor/camera/model/dof_model/capture_cache
    copy /vendor/etc/camera/model/dof_model/capture_policy /data/vendor/camera/model/dof_model/capture_policy
    copy /vendor/etc/camera/model/rt_model/preview_cache /data/vendor/camera/model/rt_model/preview_cache
    copy /vendor/etc/camera/model/rt_model/preview_model /data/vendor/camera/model/rt_model/preview_model
    copy /vendor/etc/camera/model/rt_model/preview_policy /data/vendor/camera/model/rt_model/preview_policy
    copy /vendor/etc/camera/dof_mecp/dof_mecp.bin /data/vendor/camera/dof_mecp/dof_mecp.bin

    chmod 0666 /data/vendor/camera/model/dof_model/capture_model
    chmod 0666 /data/vendor/camera/model/dof_model/capture_cache
    chmod 0666 /data/vendor/camera/model/dof_model/capture_policy
    chmod 0666 /data/vendor/camera/model/rt_model/preview_cache
    chmod 0666 /data/vendor/camera/model/rt_model/preview_model
    chmod 0666 /data/vendor/camera/model/rt_model/preview_policy
    chmod 0666 /data/vendor/camera/dof_mecp/dof_mecp.bin
# N6 code for HQ-309748 by wulei at 2023/08/14 end

# N6 code for HQ-305055 by zhangzhijian5 at 2023/11/1 start
# Touch
on property:sys.tp.grip_enable=0
    write /sys/devices/virtual/touch/touch_dev/touch_edge 0
on property:sys.tp.grip_enable=90
    write /sys/devices/virtual/touch/touch_dev/touch_edge 1
on property:sys.tp.grip_enable=270
    write /sys/devices/virtual/touch/touch_dev/touch_edge 2
# N6 code for HQ-305055 by zhangzhijian5 at 2023/11/1 end

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

#displayfeature
on boot
    chown system system /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/doze_brightness
    chmod 0777 /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/doze_brightness
    chmod 0777 /sys/class/mi_display/disp-DSI-0/brightness_clone
    chown system system /sys/class/mi_display/disp-DSI-0/brightness_clone
    chmod 0777 /dev/mi_display/disp_feature
    chown system system /dev/mi_display/disp_feature
    chmod 0777 /sys/class/mi_display/disp-DSI-0/disp_param
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param

#N6 code for HQ-301791 by p-wangkang20 at 20230802 start
on property:vendor.sysctl.tx=0
    exec /vendor/bin/iwpriv wlan0 driver "SET_PWR_CTRL MySar 2"
on property:vendor.sysctl.tx=1
    exec /vendor/bin/iwpriv wlan0 driver "SET_PWR_CTRL MySar 1"

service sarcalibration /vendor/bin/sns_sensors_test_and_cal -c 72,3,50000000,0
    class main
    user root
    disabled
    oneshot
    group root system
    seclabel u:r:sardiag:s0
#N6 code for HQ-301791 by p-wangkang20 at 20230802 end

# start mmstat
on property:sys.boot_completed=1
    mkdir /sys/kernel/tracing/instances/mmstat 711
    write /sys/kernel/tracing/instances/mmstat/tracing_on 0
    write /sys/kernel/tracing/instances/mmstat/buffer_size_kb 16
    write /sys/kernel/tracing/instances/mmstat/events/mmstat/enable 1
    write /sys/kernel/tracing/instances/mmstat/tracing_on 1

on init
    insmod /vendor/lib/modules/millet_core.ko
    insmod /vendor/lib/modules/binder_gki.ko
    insmod /vendor/lib/modules/millet_binder.ko
    insmod /vendor/lib/modules/millet_hs.ko
    insmod /vendor/lib/modules/millet_pkg.ko
    insmod /vendor/lib/modules/millet_sig.ko
    insmod /vendor/lib/modules/millet_oem_cgroup.ko